body {
    margin: 0;
    display: flex;
    background-color: #1A1A1A;
}

#container {
    width: 300px;
    height: 450px;
    box-sizing: border-box;
    padding: 10px 10%;
    background: #282828;
    border: 1px solid #ccc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: calc(300px / 10); /* Adjust the divisor for best fit */
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}
