body {
    margin: 0;
    display: flex;
    background-color: #1A1A1A;
}

#container {
    width: 300px;
    height: 450px;
    box-sizing: border-box;
    padding: 10px 30px;
    background: #282828;
    border: 1px solid #ccc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;
}

#settings {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#settings label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; 
    max-width: 300px;
}

#settings input[type="checkbox"] {
    margin-left: 10px;
}

#download-file-button {
    width: 100%;
    margin: 10px 0px;
}

#info {
    flex-grow: 1;
}

footer {
    min-height: 30px;
    height: 8%;
    max-height: 45px;
}
