/* Set popup size */
body {
    /*width: min(90vw, 300px);*/
    /*height: min(90vw, 400px);*/
    width: 300px;
    height: 450px;
    margin: 0;
    padding: 10px;
    background-color: #f4f4f4;
}

/* Style header */
h1 {
    font-size: 18px;
    text-align: center;
    color: #333;
}

/* Button styling */
button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background: #0056b3;
}
